:root {
  --PrimaryBackgroundColor: #202024;
  --OneDarkerThanPrimary: #18181C;
  --OneLighterThanPrimary: #28282C;
  --TwoLighterThanPrimary: #303034;
  --DarkGreyText: #6b6a6a;
  --LightGreyText: #c9c9c9;
  --BlueAccent: #5298FA;
  --BlueAlternateAccent: #3486DF;
}

.home {
  background-color: var(--PrimaryBackgroundColor);
  min-height: 100vh;
  text-align: center;
  vertical-align: top;
}

.explore {
  background-color: var(--PrimaryBackgroundColor);
  min-height: 100vh;
  text-align: center;
  vertical-align: top;
  align-self: center;
  align-items: center;
}

.homeContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

.exploreContentContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 6%;
  min-height: 80vh;
  /* justify-content: center; */
  /* min-height: 70vh; */
  /* width: 90%; */
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
}

.exploreSearch {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  /* padding-top: 10%; */
  padding-bottom: 0%;
  margin-bottom: 0%;
}

@media screen and (min-width: 1500px){
  .PersonOnComputerContainer {
    display: flex;
    align-items: center;
    /* background-color: var(--BlueAccent); */
    height: 85vh;
    overflow:hidden;
  }
}

.HomeLeftSideContainer {
  /* background-color: var(--BlueAccent); */
  align-self: center;
  padding-left: 0%;
  padding-right: 0%;
  text-wrap: nowrap;
}

.topBar {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}

.topBarLinksContainer {
  display: flex;
  margin-right: 11%;
}

.topBarLinks {
  color: var(--BlueAccent);
  text-decoration: none;
  margin-right: 100%;
}

.topBarLogoName {
  color: var(--BlueAccent);
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 11%;
}

.linkText {
  font-weight: bold;
  font-size: 16px;
}

.logoText {
  margin-left: 10px;
  font-weight: bold;
  font-size: 26px;
}

.searchBarContainer {
  /* margin-left: -20px;
  margin-right: 40px; */
  position: relative;
}

.searchBar {
  margin-top: 20;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  background-color: var(--BlueAlternateAccent);
  padding: 2%;
  bottom: 0px;
  position: sticky;
}

.creditLink {
  color: var(--OneDarkerThanPrimary);
  text-decoration: none;
}

.inputAndButton {
  position: relative;
  margin-top: 20;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18;
  border-radius: 30;

  /* marginTop: 20,
  width: "100%",
  paddingLeft: "20px",
  paddingTop: "20px",
  paddingBottom: "20px",
  fontSize: 18,
  borderRadius: 30, */
}

.entryContainer {
  padding: 20;
  margin-bottom: 80px;
  width: 280px;
  height: 420px;
  border-radius: 20px;
  box-shadow: 0px 20px 8px var(--OneDarkerThanPrimary);
  display: flex;
  flex-direction: column;
  background-color: var(--TwoLighterThanPrimary);
  text-align: left;
  position: relative;
}

.entryTitle {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 0%;
  color: var(--BlueAccent);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entryUsername {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 0%;
  color: var(--DarkGreyText);
}

.entryDateCreated {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 5%;
  color: var(--DarkGreyText);
}

.entryDescription {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--LightGreyText);
  flex-grow: 1;

  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entryDownload {
  font-weight: bold;
  align-self: center;
  text-align: center;
  width: 70%;
  border-radius: 15px;
  padding: 3%;
  background-color: var(--BlueAlternateAccent);
  /* color: var(--OneDarkerThanPrimary); */
  color: white;
  margin: 5%;
  margin-bottom: 7%;
  text-decoration: none;
}