:root {
  --PrimaryBackgroundColor: #202024;
  --OneDarkerThanPrimary: #18181C;
  --OneLighterThanPrimary: #28282C;
  --TwoLighterThanPrimary: #303034;
  --BlueAccent: #5298FA;
  --BlueAlternateAccent: #3486DF;
}

.home {
  background-color: var(--PrimaryBackgroundColor);
  min-height: 100vh;
  text-align: center;
  vertical-align: top;
}

.explore {
  background-color: var(--PrimaryBackgroundColor);
  min-height: 100vh;
  text-align: center;
  vertical-align: top;
  align-self: center;
}

.homeContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.exploreContentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  margin-left: 17%;
  margin-right: 17%;
  padding-top: 1%;
}

.exploreSearch{
  margin-left: 20%;
  margin-right: 30%;
  padding-top: 7%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.PersonOnComputerContainer {
  display: flex;
  align-items: center;
  /* background-color: var(--BlueAccent); */
  height: 90vh;
}

.HomeLeftSideContainer {
  /* background-color: var(--BlueAccent); */
  padding-left: 5%;
}

.topBar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
}

.topBarLinksContainer{
  display: flex;
  margin-right: 25%;
}

.topBarLinks{
  color: var(--BlueAccent);
  text-decoration: none;
  margin-right: 100%;
}

.topBarLogoName{
  color: var(--BlueAccent);
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 15%;
}

.logoText{
  margin-left: 10px;
}

.searchBarContainer{
  position:relative;
}

.searchBar {
  margin-top: 20;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.searchIcon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.footer{
  background-color: var(--BlueAlternateAccent);
  padding: 2%;
}

.creditLink{
  color: var(--OneDarkerThanPrimary);
  text-decoration: none;
}

.inputAndButton {
  position: relative;
  margin-top: 20;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18;
  border-radius: 30;

  /* marginTop: 20,
  width: "100%",
  paddingLeft: "20px",
  paddingTop: "20px",
  paddingBottom: "20px",
  fontSize: 18,
  borderRadius: 30, */
}

.entryContainer{
  width: 265px;
  height: 350px;
  border-radius: 5%;
  box-shadow: 0px 20px 8px var(--OneDarkerThanPrimary);
  display: flex;
  flex-direction: column;
  background-color: var(--TwoLighterThanPrimary);
  text-align: left;
  position: relative;
}

.entryTitle{
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 0%;
  color: var(--BlueAccent);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entryUsername{
  margin-left: 7%;
  margin-top: 0%;
  margin-bottom: 0%;
  color: var(--OneDarkerThanPrimary);
}

.entryDateCreated{
  margin-left: 7%;
  margin-top: 0%;
  margin-bottom: 5%;
  color: var(--OneDarkerThanPrimary);
}

.entryDescription{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: lightgray;
  flex-grow: 1;

  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entryDownload{
  align-self: center;
  text-align: center;
  width: 70%;
  border-radius: 5%;
  padding: 2%;
  background-color: var(--BlueAlternateAccent);
  color: var(--OneDarkerThanPrimary);
  margin: 5%;
  text-decoration: none;
}